<h1>login</h1>
<form action="/login" method="POST">
    <label for="fname">First name:</label>
    <input type="text" id="email" name="email" required><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="password" name="password" required><br><br>
    <input type="submit" value="Submit">
  </form>
<h2><a href="/register">Register</a></h2>

